.form {
    position: relative;
    @include width_and_height(30%, 60vh);
    background-color: var(--color-header-bg);
    overflow: hidden;

    &--mid {
        @include width_and_height($height:74vh);
    }

    &::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: var(--form-width);
        height: var(--form-height);
        background: linear-gradient(0deg, transparent, transparent, var(--color-text-section), var(--color-text-section));
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }

    &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: var(--form-width);
        height: var(--form-height);
        background: linear-gradient(0deg, transparent, transparent, var(--color-text-section), var(--color-text-section));
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }

    &__container {
        position: absolute;
        inset: 2px;
        background-color: var(--color-header-bg);
        border-radius: 8px;
        z-index: 10;
        padding: 40px 50px;
        display: flex;
        flex-direction: column;

        h2 {
            color: var(--color-text-section);
            font-weight: 500;
            text-align: center;
            letter-spacing: 0.1rem;
        }

        .input-box {
            position: relative;
            width: 300px;
            margin-top: 25px;

            input {
                position: relative;
                width: 100%;
                padding: 20px 10px 10px;
                background: transparent;
                border: none;
                outline: none;
                color: var(--color-input);
                font-size: 1.2rem;
                letter-spacing: 0.05rem;
                z-index: 10;

                &:focus {
                    ~{
                        span {
                            transform: translateX(-10px) translateY(-34px);
                            font-size: 0.8rem;
                            color: var(--color-text-section);
                        }
                        i {
                            height: 90%;
                        }
                       
                    }

                }

                &:valid {
                    ~{
                        span {
                            transform: translateX(-10px) translateY(-34px);
                            font-size: 0.8rem;
                            color: var(--color-text-section);
                        }
                        i {
                            height: 90%;
                        }
                       
                    }

                }

              
            }
            span {
                position: absolute;
                left: 0;
                padding: 20px 10px 10px;
                font-size: 1em;
                pointer-events: none;
                color: var(--color-text-muted);
                letter-spacing: 0.05rem;
                transition: 0.5s;
            }
            label {
                position: absolute;
                left: 0;
                padding: 20px 10px 10px;
                font-size: 1em;
                pointer-events: none;
                color: var(--color-text-muted);
                letter-spacing: 0.05rem;
                transition: 0.5s;
            }
            

            i {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: var(--color-text-section);
                border-radius: 4px;
                transition: 0.5s;
                pointer-events: none;
                z-index: 9;
            }
           
        }

        .links {
            display: flex;
            justify-content: space-between;

            a {
                margin: 10px 0;
                font-size: 1rem;
                color: var(--color-text-muted);

                &:hover, &:nth-child(2) {
                    color: var(--color-text-section);
                }
            }
        }
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.flash.alert {
    color: white;
    z-index: 100;
    font-weight: bolder;
    font-size: 1.6rem;
}